:root {
  --dark: #0D1821;
  --mid: #8D818C;
  --light: #DFF8EB;
  --edit: #21897E;
  --delete: #70161E;
  --btn-txt-color: white;
}


/* sets as default fonts in body and al <h> tags */
body {
  min-width: 350px;
  background-color: var(--light);
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* main.handlebars header & nav links */
header {
  background-color: var(--dark);
}

header h1 {
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 5px 5px 0px 0px var(--mid);
}

nav {
  height: 30px;
}

nav a {
  text-decoration: none;
  color: var(--light);
}


/* buttons custom css */
.login-btn {
  background-color: var(--edit);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.login-btn:hover {
  background-color: var(--edit);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}

.logout-btn {
  background-color: var(--delete);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.logout-btn:hover {
  background-color: var(--delete);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}

.add-blog-btn {
  width: 200px;
  background-color: var(--mid);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.add-blog-btn:hover {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}

.edit-blog-btn {
  background-color: var(--edit);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.edit-blog-btn:hover {
  background-color: var(--edit);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}

.del-blog-btn {
  background-color: var(--delete);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.del-blog-btn:hover {
  background-color: var(--delete);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}

.add-comment-btn {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.add-comment-btn:hover {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}  

.view-comments-btn {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.view-comments-btn:hover {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}


/* blog cards */
.blog-card {
  border: 3px solid var(--dark);
  cursor: pointer;
}

.blog-header {
  background-color: var(--dark);
  color: var(--mid);
}

.blog-header:hover {
  color: var(--light);
}

.blog-header h5 {
  margin: 0;
}


/* sweetAlert2 css changes */
.swal-title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swal-input {
  border-color: var(--light);
  border-width: 2px;
  border-style: solid;
}

.swal-input:focus {
  outline: none;
  border-color: var(--mid);
  box-shadow: 0 0 5px var(--mid);
}

.swal-confirm-btn {
  background-color: var(--light);
  color: var(--mid);
  transition: filter 0.3s ease;
}

.swal-confirm-btn:hover {
  background-color: var(--light);
  color: var(--mid);
  filter: brightness(-1.2);
}

.swal-cancel-btn {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  transition: filter 0.3s ease;
}

.swal-cancel-btn:hover {
  background-color: var(--mid);
  color: var(--btn-txt-color);
  filter: brightness(1.2);
}


/* screen size changes for responsiveness*/
@media (width <= 700px)  {
  .blog-header {
    flex-direction: column;
  }

  .blog-header h5 {
    margin-bottom: 15px;
  }
}