:root {
  --dark: #0D1821;
  --mid: #8D818C;
  --light: #DFF8EB;
}

body {
  background-color: var(--light);
}

header {
  background-color: var(--dark);
}

header h1 {
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 5px 5px 0px 0px var(--mid);
}

nav a {
  text-decoration: none;
  color: var(--light);
}

.blog {
  border: 3px solid var(--dark);
}

.blog-header {
  color: var(--mid);
  background-color: var(--dark);
}

.blog-header a {
  text-decoration: none;
  color: var(--mid);
}